:root {
  --border: 3px solid #393939;
}
h1 {
  font-family: 'Shadows Into Light', cursive;
}
body {
  background: linear-gradient(35deg, #1e8f98,#ff98009e);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: x-large;
  font-family: "Neucha", cursive;
}
input, textarea, button {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #969292;
  border-radius: 6px;
}
input {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 15px;
  width: 200px;
  height: 15px;
  padding: 10px;
  font-size:16px;
}

#computer {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

button {  
  min-width: 150px;
  margin: 20px;   
  font-size:16px;
  padding: 12px 28px;
  opacity: 0.6;
  border: 1px solid #2c5852;
  text-decoration: none;
  cursor: pointer;
  background-color: #b1f3cd;
  box-shadow: inset -8px -11px 15px 6px #1da055, inset 14px 11px 9px 11px #a9e4c2;
}

button:hover {opacity: 1}

main {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items : center;
}

.input-div {
  display:flex;
  justify-content: left;
  align-items: center;
}

#board-container {
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  margin: 30px;
}

#game-control {
  visibility: hidden;
  margin: 10px;
}

.tile {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 45px;
  font-weight: 800;
  font-family: 'Shadows Into Light', cursive;
}

.tile:nth-child(-n+3) {
  border-bottom: var(--border);
}

.tile:nth-child(3n+1) {
  border-right: var(--border);
}

.tile:nth-child(3n) {
  border-left: var(--border);
}

.tile:nth-child(n+7) {
  border-top: var(--border);
}

#submit-players {
  position: absolute;    
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}

#next-choice-btns {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



